<h1>Listing investigators</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for investigator in @investigators %>
  <tr>
    <td><%=h investigator.name %></td>
    <td><%= link_to 'Show', investigator %></td>
  </tr>
<% end %>
</table>