<h1>Investigators</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for investigator in @investigators %>
  <tr>
    <td><%= link_to investigator.name, investigator %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @organizations %>