#hd {
	margin-top: 1em;
	padding: 0.25em 0.5em;
	color: #fff;
	background-color: #333;
	font-size:123.1%;
}
	#hd a, #hd a:visited {
		color: #fff;
		text-decoration: none;
	}
	#hd a:hover {
		color:#ddd;
	}

#bd a, #bd a:visited {
	color: #000;
}
#bd a:hover {
	color: #666;
}
#ft {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.25em 0.5em;
	color: #fff;
	background-color: #333;
	text-align: right;
}

th {
	color: #fff;
	background-color: #999;
}

#search {
	float: right;
	display: block;
	margin: 0;
	padding: 0;
}
	#search input[type="text"] {
		border: 3px solid #999;
		color: #666;
		font-size:85%;
	}
	#search input[type="submit"] {
		background-color: #999;
		color: #fff;
		padding: 0 0.25em;
		font-size:85%;
	}

.currency {
	text-align: right;
	white-space: nowrap;
}

.pagination {
  background: white;
  /* self-clearing method: */ }
  .pagination a, .pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .pagination span.current {
    font-weight: bold;
    background: #333;
    color: white;
    border: 1px solid #333; }
  .pagination a {
    text-decoration: none;
    color: #666;
    border: 1px solid #ccc; }
    .pagination a:hover, .pagination a:focus {
      color: #003;
      border-color: #003; }
  .pagination .page_info {
    background: #333;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }

table.grants {
  width: 100%;
}

.legend {
  float: right;
  font-size: 77%;
  margin-top: -1.9em;
}
	.legend td {
		padding: 0.2em 0.5em;
	}

.C {}
.D {}
.F {
	background-color: #ECFFB3;
}
.G {}
.K {
	background-color: #C6B3FF;
}
.M {}
.N {}
.P {
	background-color: #FFB3EC;
	background-color: #ddd;
}
.R {
	background-color: #B3C6FF;
}
.S {}
.T {
	background-color: #FFECB3;
}
.U {
	background-color: #B3FFC6;
}
