#hd {
	margin-top: 1em;
}
#bd a, #bd a:visited {
	color: #000;
}
#bd a:hover {
	color: #666;
}
#ft {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.25em 0.5em;
	color: #fff;
  background:#2647a0 url(http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/sprite.png) repeat-x left -1410px;
	text-align: right;
}

th {
  background:#d8d8d8 url(http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/sprite.png) repeat-x;
  color: #000;
  border: 1px solid #333;
}

#search {
	float: right;
	margin: 0;
}
	#search input[type="text"] {
		border: 0.25em solid #2647a0;
		color: #000;
    margin: 0;
    padding: 1px 0.25em;
	}
	#search input[type="submit"] {
    border: 1px solid #243356;
    background:#2647a0 url(http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/sprite.png) repeat-x left -1405px;
    margin: 0;
    padding: 3px 0.5em;
    color: #fff;
    }

.currency {
	text-align: right;
	white-space: nowrap;
}

table.grants {
  width: 100%;
}

.legend {
  float: right;
  font-size: 77%;
  margin-top: -2em;
}
	.legend td {
		padding: 0.2em 0.5em;
	}

.C {}
.D {}
.F {
	background-color: #ECFFB3;
}
.G {}
.K {
	background-color: #C6B3FF;
}
.M {}
.N {}
.P {
	background-color: #FFB3EC;
	background-color: #ddd;
}
.R {
	background-color: #B3C6FF;
}
.S {}
.T {
	background-color: #FFECB3;
}
.U {
	background-color: #B3FFC6;
}

/* pagination */

.pagination {
  background: white;
  /* self-clearing method: */ }
  .pagination a, .pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .pagination span.current {
    font-weight: bold;
    background:#2647a0 url(http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/sprite.png) repeat-x left -1405px;
    color: white;
    border: 1px solid #243356; }
  .pagination a {
    text-decoration: none;
    background:#d8d8d8 url(http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/sprite.png) repeat-x;
    color: #000;
    border: 1px solid #a3a3a3; }
    .pagination a:hover, .pagination a:focus {
      background:#bfdaff url(http://yui.yahooapis.com/2.5.2/build/assets/skins/sam/sprite.png) repeat-x left -1300px;
      color: #003;
      border-color: #003; }
  .pagination .page_info {
    background: #333;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }

