#hd {
	margin-top: 1em;
	padding: 0.25em;
	color: #fff;
	background-color: #333;
}
	#hd a, #hd a:visited {
		color: #fff;
		text-decoration: none;
	}

#ft {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.25em;
	color: #fff;
	background-color: #333;
}

th {
	color: #fff;
	background-color: #999;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

#search {
	padding: 0.25em;
	float: right;
}

.currency {
	text-align: right;
}

.pagination {
  background: white;
  /* self-clearing method: */ }
  .pagination a, .pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .pagination span.current {
    font-weight: bold;
    background: #333;
    color: white;
    border: 1px solid #333; }
  .pagination a {
    text-decoration: none;
    color: #666;
    border: 1px solid #ccc; }
    .pagination a:hover, .pagination a:focus {
      color: #003;
      border-color: #003; }
  .pagination .page_info {
    background: #333;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }

.C {}
.D {}
.F {
	background-color: #ECFFB3;
}
.G {}
.K {
	background-color: #C6B3FF;
}
.M {}
.N {}
.P {
	background-color: #FFB3EC;
	background-color: #ddd;
}
.R {
	background-color: #B3C6FF;
}
.S {}
.T {
	background-color: #FFECB3;
}
.U {
	background-color: #B3FFC6;
}
