development:
  adapter: mysql
  encoding: utf8
  database: don_dev
  username: root

test:
  adapter: mysql
  encoding: utf8
  database: don_test
  username: root

production:
  adapter: mysql
  encoding: utf8
  database: don_prod
  username: root
