<h1>Listing organizations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
  </tr>

<% for organization in @organizations %>
  <tr>
    <td><%=h organization.name %></td>
    <td><%=h organization.city %></td>
    <td><%=h organization.state %></td>
    <td><%= link_to 'Show', organization %></td>
  </tr>
<% end %>
</table>