<p>
  <b>Name:</b>
  <%=h @organization.name %>
</p>

<p>
  <b>City:</b>
  <%=h @organization.city %>
</p>

<p>
  <b>State:</b>
  <%=h @organization.state %>
</p>

<%= link_to 'Back', organizations_path %>
